.consultation {
    padding   : 100px 0 92px 0;
    min-height: 680px;
    background: url('../img/consultation.jpg');

    &__descr {
        font-weight: 500;
        font-size  : 20px;
        color      : #FFFFFF;
    }
}