* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

.grid-container {
    display: grid;
    margin: 82px auto 0 82px;
    width                : 1140px;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(2,260px);
    grid-auto-rows: 260px;

    gap: 60px;


}

.grid-elem img{
     width: 100%;
}
/* .grid-elem img{
    display: block;
} */