<h1>Hello</h1>
<button (click)="backToggle=! backToggle"></button>

<div [ngSwitch]='backToggle'>
  <p *ngSwitchCase='true' class='blue'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi inventore accusantium doloremque nulla quos porro mollitia nam voluptas perferendis consequuntur autem voluptates, aliquid magnam nesciunt numquam laboriosam exercitationem ex labore?</p>
  <p *ngSwitchCase='false' class='red'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum nesciunt unde corporis, sequi laboriosam ducimus incidunt? Molestias dolore nulla culpa laborum obcaecati itaque molestiae alias quasi, voluptatem debitis velit rerum.</p>
  <p *ngSwitchDefault>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita explicabo necessitatibus similique maiores quam odit alias ullam assumenda rerum, saepe in debitis exercitationem, provident incidunt sunt pariatur! Non, iste eveniet.</p>
</div>
